@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('./stars-space.css');

/* Para navegadores baseados em WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; 
    background-color: #e0e0e0; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #007bff; 
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3;
}

::-webkit-scrollbar-button {
    display: none; 
}

*::-webkit-scrollbar-button {
    display: none; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin; 
    scrollbar-color: #c5c5c5 #5e5e5e;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #2a2c30;
    --text-color: #fff;
    --main-color: rgb(221, 0, 255);
    --one-color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
}

section {
    min-height: 115vh;
    padding: 10rem 9% 2rem;
}

/* Header Styles */
.header {
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

header .logo {
    cursor: pointer;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    margin-left: auto;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 5rem;
    transition: color .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    cursor: pointer;
}

#menuIcon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/* Home Styles */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.home-img img {
    width: 35vw; 
    max-width: 500px; 
    border-radius: 50%; 
    object-fit: cover; 
    box-shadow: 0 0 25px rgba(242, 0, 255, 0.5);
    border: rgb(0, 238, 255) 2px solid;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin: 1.3rem 0;
}

.home-content p {
    font-size: 1.7rem;
}

/* Social Media Styles */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: background .5s ease, color .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
    cursor: pointer;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    color: var(--second-bg-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: box-shadow .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 35vw;
    border-radius: 50rem;
    box-shadow: 0 0 25px rgba(242, 0, 255, 0.5);
    border: rgb(255, 187, 0) 2px solid;
    animation: floatImage 4s ease-in-out infinite;
    user-select: none;
}

.heading {
    text-align: left;
    font-size: 4.5rem;
    color: var(--main-color);
}

.about-content h2 {
    text-align: start;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0;
}

.services h2 {
    user-select: none;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 5rem;
}

.services-container {
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-box {
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--main-color);
    transition: .5s ease;
}

.services-box:hover {
    border-color: var(--main-color);
    transform: scale(1.08);
}

.services-box i {
    font-size: 8rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
    margin: 2rem 0;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio {
    background: var(--second-bg-color);
    user-select: none;
}

.portfolio h2 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 4rem;
    user-select: none;
}

.portfolio-container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .4), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
}

.languages {
    padding: 10rem 9% 2rem;
}

.languages-header {
    text-align: center;
    margin-bottom: 5rem;
}

.languages-header h2 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.languages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.language-card {
    border: 0.2rem solid var(--one-color);
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 20rem;
    margin-bottom: 4rem;
}

.language-card:hover {
    transform: translateY(-0.3rem);
}

.language {
    text-align: center;
    padding: 2rem;
}

.language i {
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 2rem;
    display: block;
}

.language p {
    font-size: 2rem;
}


.contact {
    background-image: url(../images/outer-space.jpg);
    background-size: cover;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.contact h2 {
    user-select: none;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 5rem;
}

.contact p {
    user-select: none;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
    user-select: none;
}

.footer {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p {
    font-size: 1.6rem;
    color: var(--text-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--second-bg-color);
}

/* Global Styles */
#menuIcon {
    display: none;
}

/* Responsive Media Queries */
/* Font size adjustments */
/* Responsive Media Queries */
/* Font size adjustments */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 617px) {
    html {
        font-size: 50%;
    }
}

/* General padding adjustments */
@media (max-width: 991px) {
    .header,
    .footer {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services,
    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }
}

/* Navbar and menu icon adjustments */
@media (max-width: 780px) {
    #menuIcon {
        display: block; /* Certifique-se de que o ícone do menu esteja visível */
        margin-left: auto; /* Alinha o ícone do menu à direita */
    }

    .navbar {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
        padding-top: 25rem;
    }

    .home-content p {
        flex-wrap: wrap;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img,
    .about-img img {
        width: 50vw;
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .services h2,
    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Menu icon adjustments for specific breakpoints */
@media (max-width: 776px) {
    #menuIcon {
        margin-left: auto; /* Alinha o ícone do menu à direita */
    }
}

@media (max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr; /* Altera para uma coluna em telas pequenas */
    }

    .contact form .input-box input {
        width: 100%; /* Mantém os campos do formulário com 100% de largura */
    }
}

@media (max-width: 400px) {
    .home-img img,
    .about-img img {
        width: 90vw; /* Ajusta a largura das imagens para telas pequenas */
    }

    .footer {
        flex-direction: column-reverse; /* Alinha a footer em coluna em telas pequenas */
    }

    .footer-text p {
        text-align: center; /* Centraliza o texto do footer */
        margin-top: 2rem;
    }
}
